html {
	background-color: #000;
	width: 100%;
	height: 100%;
	text-align: center;
}

body {
	margin: 0;
	min-height: 100%;
}

h1, h2 {
	margin: auto;
}

h1 {
	font-size: 72pt;
}

h3, .images label {
	font-size: 24pt;
}

iframe {
	width: 640px;
	height: 360px;
}

p {
	text-align: left;
}

label {
	font-size: 16pt;
	font-weight: bold;
}

a {
	font-size: 48pt;
}

.container, iframe, .images>div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: auto;
}

.container {
	width: 80%;
	background-color: #fff;
}

h1, .intro, .container.images, .videos {
	margin: 2% auto;
}

.video, .video>div{
	margin: 1% 0;
}

.container.images, .images img, .images {
	width: 100%;
}

.images {
	flex-wrap: nowrap;
	flex-direction: column;
}

