<!DOCTYPE html>

<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../resources/css/theme.css'>
	</head>
	<body>
		<div class='container'>
			<div class='header_bar'>
				<div id='main_header'>
					<span id='index' class='link'>CPE 3150 Introduction to Microcontrollers</span>
				</div>
				<div class='link_container'>
					<div>
						<span class='project1 main link'>Project 1 - WIMP AVR</span>
					</div>
					<div>
						<span class='project2 main link'>Project 2 - Coding in ASM</span>
					</div>
					<!-- <div>
						<a href='project3.html'><span></span></a> TODO
					</div> -->
				</div>
			</div>
			<div class='container intro margins_all'>
				<h1>CPE 3150 Introduction to Microcontrollers</h1>
				<h3>Dominic Zucchini</h3>
				<h3>Justin Chau</h3>
				<h3>Matt Mutarelli</h3>
				<h3>Cassidy Johnson</h3>
				<h3>Dr. Dua</h3>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='../resources/scripts/index.js'></script>
</html>