<!DOCTYPE html>

<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../resources/css/theme.css'>
	</head>
	<body>
		<div class='container'>
			<div class='header_bar'>
				<div id='main_header'>
					<span id='index' class='link'>CPE 3150 Introduction to Microcontrollers</span>
				</div>
				<div class='link_container'>
					<div>
						<span id='youtube_link' class='project2 link'>Youtube Demonstration Videos</span>
					</div>
				</div>
			</div>
			<div class='container margins_all'>
				<h1 id='project2-header' class='link'>Coding in ASM</h1>
			</div>
			<div class='container videos margins_all'>
				<h2>Youtube Demonstration Videos</h2>
				<div class='video'>
					<label>DSD Project 2 Sample 1</label>
					<div>
						<iframe src="https://www.youtube.com/embed/gImhiTzq1GA" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='../resources/scripts/index.js'></script>
</html>