<!DOCTYPE html>

<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../resources/css/theme.css'>
	</head>
	<body>
		<div class='container'>
			<div class='header_bar'>
				<div id='main_header'>
					<span id='index' class='link'>CPE 3150 Introduction to Microcontrollers</span>
				</div>
				<div class='link_container'>
					<div>
						<span id='youtube_link' class='project2 link'>Youtube Demonstration Videos</span>
					</div>
				</div>
			</div>
			<div class='container intro margins_all'>
				<h1 id='project2-header' class='link'>Coding in ASM</h1>
				<h3>Dominic Zucchini</h3>
			</div>
			<div class='container'>
				<a href='../main.asm' download='Sample_ASM_Code.asm' target='_blank'>Sample ASM Code</a>
			</div>
			<div class='container pdfs margins_all'>
				<div class='pdf'>
					<a href='../resources/pdfs/ASM%20Programming%20in%20MPLAB.pdf' download='ASM_Programming_in_MPLAB.pdf' target='_blank'target='_blank'>
						<label>ASM Programming in PLAB</label>
					</a>
					<iframe src='../resources/pdfs/ASM%20Programming%20in%20MPLAB.pdf'></iframe>
				</div>
				<div class='pdf'>
					<a href='../resources/pdfs/Getting%20Started%20with%20MPLAB%20X.pdf' download='Getting_Started_with_MPLAB_X.pdf' target='_blank'>
						<label>Getting Started With MPLAB</label>
					</a>
					<iframe src='../resources/pdfs/Getting%20Started%20with%20MPLAB%20X.pdf'></iframe>
				</div>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='../resources/scripts/index.js'></script>
</html>