<!DOCTYPE html>

<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../resources/css/theme.css'>
	</head>
	<body>
		<div class='container'>
			<div class='header_bar'>
				<div id='main_header'>
					<span id='index' class='link'>CPE 3150 Introduction to Microcontrollers</span>
				</div>
				<div class='link_container'>
					<div>
						<span id='youtube_link' class='project1 link'>Youtube Tutorial Videos</span>
					</div>
					<div>
						<span id='picture_link' class='project1 link'>Layouts and Controls</span>
					</div>
				</div>
			</div>
			<div class='container margins_all'>
				<h1 id='project1-header' class='link'>WIMP AVR</h1>
			</div>
			<div class='container margins_all'>
				<div class='container margins_all'>
					<h2>Layouts and Controls</h2>
				</div>
				<div class='container images'>
					<div>
						<label>Processor Controls</label>
						<img src='../resources/images/DE2 Processor Interface2.png' />
					</div>
					<div>
						<label>Program Controls</label>
						<img src='../resources/images/Program Layout.PNG' />
					</div>
					<div>
						<label>Instruction List</label>
						<img src='../resources/images/Instructions.PNG' />
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='../resources/scripts/index.js'></script>
</html>